/*整站样式*/
html, body, dl, dd, img, form, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: '微软雅黑', Arial;
}

ul, ol, li {
    list-style-type: none;
}

img {
    border: 0;
    vertical-align: middle
}

select, input, select {
    vertical-align: middle;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

iframe {
    border: none;
}

a:link {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #0093ff;
    text-decoration: none;
}

a:active {
    color: #0093ff;
    text-decoration: none;
}

/*.c {*/
/*clear: both;*/
/*font-size: 0;*/
/*line-height: 0;*/
/*height: 0;*/
/*visibility: visible;*/
/*}*/

/*.h {*/
/*display: none;*/
/*visibility: visible;*/
/*}*/

.wrap {
    border: 0;
    padding: 0;
    width: 1200px;
    margin: 0 auto;
    *zoom: 1;
}

.wrap:after {
    clear: both;
    content: "";
    display: table;
}

.fix {
    *zoom: 1;
}

.fix:after {
    clear: both;
    content: "";
    display: table;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.posr {
    position: relative;
}

.btn {
    font-family: "宋体";
    font-weight: normal;
}

.px20 {
    height: 20px;
    line-height: 20px;
}

/* 编辑器内容样式 凡是编辑器修改区域加上 */
/*
.editor {
    line-height: 24px;
    text-align: left;
}

.editor p {
    text-indent: 2em;
}

.editor ol li {
    list-style-type: circle;
    margin-left: 25px;
}

.editor ul li {
    list-style-type: square;
    margin-left: 25px;
}
*/

/* 分页样式 */
.page {
    text-align: center;
    margin-top: 20px;
}

.page a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
    border: 1px solid #2eafbb;
    color: #2eafbb;
}

.page a:hover {
    background-color: #2eafbb;
    color: #fff;
}

.page a.now {
    background-color: #2eafbb;
    color: #fff;
}

/* header */
/*.section {*/
/*overflow: hidden;*/
/*}*/

.header {
    height: 100px;
}

.header h1 {
    width: 154px;
}

.logo {
    padding-top: 14px;
}

.header .logo_text {
    width: 163px;
    margin-top: 24px;
    padding-left: 5px;
}

.top {
    text-align: right;
    color: #888888;
    padding-top: 12px;
    *position: relative;
    *z-index: 2;
}

.top a {
    color: #888888;
    margin-left: 8px;
}

.top .call {
    background: url("../images/sprite.png") no-repeat 0 0;
    display: inline-block;
    width: 20px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 4px;
}

.top .call_tel {
    color: #15909c;
}

.top .email {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat -20px 0;
    vertical-align: bottom;
    margin-right: 4px;
}

.top .weixin {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat -60px 0;
    vertical-align: bottom;
    margin-right: 4px;
}

.top .ewm {
    position: relative;
    z-index: 10000;
}

.top .ewm img {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 999;
    border: 1px solid #ddd;
    padding: 4px;
    background: #fff;
    display: none;
    z-index: 10000;
}

.nav {
    margin-top: 18px;
    position: relative;
}

.nav li {
    float: left;
    padding-left: 40px;
}

.nav li a {
    font-size: 14px;
    color: #000000;
    line-height: 24px;
    display: inline-block;
}

.nav .nav_icon {
    background: #15909c;
    height: 1px;
    width: 60px;
    line-height: 1px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 615px;
    *top: 0px;
}

/*.home_title {*/
/*text-align: center;*/
/*padding-top: 50px;*/
/*}*/

/* footer */
.contact {
    background: #2eafbb;
    margin-top: 40px;
    padding-top: 38px;
    padding-bottom: 60px;
}

.contact h2 {
    margin-bottom: 28px;
}

.contact h2 a {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

.home_about {
    width: 250px;
}

.home_about dt {
    margin-bottom: 24px;
}

.home_about dt a {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

.home_about dd {
    color: #eeeeee;
    line-height: 28px;
    font-family: "宋体";
}

.home_about .more {
    color: #fff;
    display: inline-block;
    border: 1px solid #cccccc;
    line-height: 38px;
    padding: 0 24px;
    margin-top: 12px;
}

.home_about .more:hover {
    border-color: #fff;
}

.home_case {
    width: 300px;
    margin-left: 45px;
}

.home_case li {
    border-top: 1px solid #ccc;
    height: 52px;
    padding: 14px 0;
}

.home_case li:first-child {
    border: 0;
    padding-top: 3px;
}

.home_case li img {
    float: left;
    margin-right: 18px;
}

.home_case h5 {
    margin-top: -5px;
    line-height: 28px;
}

.home_case h5 a {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.home_case .text {
    line-height: 22px;
}

.home_case .text a {
    color: #dddddd;
    font-family: "宋体";
}

/*.home_case .label {*/
/*color: #cccccc;*/
/*line-height: 28px;*/
/*}*/

.home_service {
    width: 230px;
    margin-left: 45px;
}

.home_service a.sub {
    font-size: 12px;
    color: #fff;
    line-height: 38px;
    width: 98px;
    display: inline-block;
    border: 1px solid #cccccc;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 3px;
}

.home_service a.sub:hover {
    border-color: #fff;
}

.home_contact {
    margin-left: 40px;
}

.home_contact li {
    color: #ddd;
    margin-bottom: 14px;
}

.home_contact li i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.home_contact li .addres {
    background: url("../images/sprite.png") no-repeat 0 -20px;
}

.home_contact li .weibo {
    background: url("../images/sprite.png") no-repeat -20px -20px;
}

.home_contact li .email {
    background: url("../images/sprite.png") no-repeat -40px -20px;
}

.home_contact li .weixin {
    background: url("../images/sprite.png") no-repeat -80px -20px;
}

.home_contact li .call {
    background: url("../images/sprite.png") no-repeat -0px -0px;
}

.home_contact li a {
    color: #ddd;
}

.blogroll {
    line-height: 28px;
    color: #999;
    text-align: center;
    padding: 30px 0;
}

/*.blogroll a {*/
/*color: #999;*/
/*display: inline-block;*/
/*}*/

/*.blogroll a:hover {*/
/*color: #333;*/
/*}*/

.blogroll .copyright {
    margin-top: 16px;
}

/*inside*/
.inside_banner {
    position: relative;
}

/*.inside_banner_service {*/
/*background: url("../images/service_banner.jpg") no-repeat center;*/
/*height: 400px;*/
/*}*/

/*.inside_banner_mobile {*/
/*background: url("../images/m_banner.jpg") no-repeat center;*/
/*height: 400px;*/
/*}*/

/*.inside_banner_solution {*/
/*background: url("../images/sl_banner.jpg") no-repeat center;*/
/*height: 400px;*/
/*}*/

.inside_banner_news {
    /*background: url("../images/n_banner.jpg") no-repeat center;*/
    height: 400px;
}

.all {
    padding: 7px;
    border: 1px solid #ccc;
    margin: 100px auto;
    position: relative;
}

.screen {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
}

.screen li {
    overflow: hidden;
    float: left;
}

.screen ul {
    position: absolute;
    left: 0;
    top: 0px;
    width: 410%;
    height: 400px;
}

.screen ol {
    position: absolute;
    left: 50%;
    bottom: 10px;
    line-height: 25px;
    text-align: center;
    z-index: 100;
    transform: translate(-50%,0);
}

.screen ol li {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.screen ol li.current {
    background: yellow;
}

.news_tab {
    width: 1200px;
    height: 450px;
    margin: 60px auto 0;
    position: relative;
    overflow: hidden;
}

.news_tab ul {
    margin-right: -40px;
}

.news_tab li {
    position: absolute;
    float: left;
    width: 205px;
    height: 170px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    /*border: 10px solid #000;*/
    /*padding-left: 20px;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 20px;*/
}

.news_tab h2 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    padding-top: 22px;
}

.news_tab .eg {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 12px;
    font-family: Arial;
}

.news_tab li:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.news_tab li.sel {
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.news_tab .cyan {
    background: #43bcc7;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.news_tab .red {
    background: #de6764;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.news_tab .blue {
    background: #31a0e1;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.news_tab .purple {
    background: #6a8bd2;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.news_tab .green {
    background: #9ac047;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.news_tab .black {
    background: #000000;
}

.news_tab .cyansel {
    background: #43bcc7;
    opacity: 1;
    filter: alpha(opacity=100)
}

.news_tab .redsel {
    background: #de6764;
    opacity: 1;
    filter: alpha(opacity=100)
}

.news_tab .bluesel {
    background: #31a0e1;
    opacity: 1;
    filter: alpha(opacity=100)
}

.news_tab .purplesel {
    background: #6a8bd2;
    opacity: 1;
    filter: alpha(opacity=100)
}

.news_tab .greensel {
    background: #9ac047;
    opacity: 1;
    filter: alpha(opacity=100)
}

.news_list {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.news_list li {
    background: #f7f7f7;
    zoom: 1;
    margin-top: 40px;
    position: relative;
}

/*.news_list .line {*/
/*display: block;*/
/*position: absolute;*/
/*background: #2eafbb;*/
/*}*/

.news_list li:after {
    content: "";
    clear: both;
    display: table;
}

.news_time {
    background: #2eafbb;
    width: 120px;
    height: 100%;
    padding: 18px 20px 40px 0;
}

.news_time .day {
    display: block;
    font-size: 70px;
    color: #fff;
    font-family: "Impact";
    text-align: right;
}

.news_time .year {
    display: block;
    color: #eee;
    text-align: right;
    line-height: 22px;
}

.news_time .author {
    display: block;
    color: #eee;
    text-align: right;
    line-height: 22px;
}

.news_time .type {
    display: block;
    text-align: right;
    background: url("../images/n01.jpg") no-repeat right top;
    padding-top: 6px;
    margin-top: 4px;
}

.news_time .type a {
    color: #fff;
    font-family: '宋体', Arial;
}

.news_cont {
    width: 980px;
    margin-right: 40px;
}

.news_cont h2 {
    font-size: 20px;
    font-weight: normal;
    padding-top: 26px;
}

.news_cont h2 a {
    color: #333;
}

.news_cont a:hover {
    color: #2eafbb;
}

.news_cont .demo {
    line-height: 24px;
    margin-top: 14px;
}

.news_cont .vis {
    color: #999;
    line-height: 38px;
    margin-top: 12px;
}

.news_cont .more {
    float: right;
    color: #2eafbb;
    display: inline-block;
    border: 1px solid #2eafbb;
    line-height: 38px;
    padding: 0 24px;
}

.news_more {
    width: 1200px;
    margin: 40px auto 80px;
    text-align: center;
}

.news_more a {
    display: block;
    font-size: 14px;
    color: #2eafbb;
    border: 1px solid #2eafbb;
    line-height: 38px;
}

/*/!* right_contact_201601 *!/*/
.right_contact_201601 {
    position: fixed;
    bottom: 300px;
    right: 0px;
    top: 300px;
    width: 60px;
    height: 240px;
    z-index: 100000;
    background: url(../images/right_bg.png) no-repeat;
}

.right_contact_201601 li {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.right_contact_201601 li .hover {
    display: none;
}

.right_contact_201601 .li_top {
    width: 60px;
    height: 60px;
    background: url(../images/right_1.png) no-repeat;
}

.right_contact_201601 .li_tel {
    width: 238px;
    height: 60px;
    background: url(../images/right_2_h.png) no-repeat;
    /*-webkit-transition: all 0.5s;*/
    /*-moz-transition: all 0.5s;*/
    /*-o-transition: all 0.5s;*/
    /*transition: all 0.5s;*/
}

.right_contact_201601 .li_tel .text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding-left: 60px;
    padding-top: 6px;
}

.right_contact_201601 .li_qq {
    width: 238px;
    height: 60px;
    background: url(../images/right_3_h.png) no-repeat;
    /*-webkit-transition: all 0.5s;*/
    /*-moz-transition: all 0.5s;*/
    /*-o-transition: all 0.5s;*/
    /*transition: all 0.5s;*/
}

.right_contact_201601 .li_qq .text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding-left: 60px;
    padding-top: 6px;
}

.right_contact_201601 .li_close {
    width: 60px;
    height: 60px;
    background: url(../images/right_4.png) no-repeat;
}

.right_contact_201601 .li_tel:hover {
    margin-left: -178px;
    width: 238px;
    height: 60px;
    background: url(../images/right_2_h.png) no-repeat;
}

.right_contact_201601 .li_qq:hover {
    margin-left: -178px;
    width: 238px;
    height: 60px;
    background: url(../images/right_3_h.png) no-repeat;
}

.right_contact_201601 li:hover .hover {
    display: block;
}


